body {
    font-family: "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
    margin: 0;
    padding: 0;
}

.everytime-logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-img {
    width: 40px;
    height: 40px;
}

.logo-text {
    display: flex;
    flex-direction: column; 
}

.logo-everytime {
    margin: 0;
    color: #ff1900;
    font-size: 12px;
    font-weight: bold;
}

.logo-univname {
    margin: 0;
    color: #121212;
    font-size: 22px;
    font-weight: bold;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 100px; 
}

.banner-top {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;
}

.banner-top a {
    text-decoration: none; /* 하이퍼링크 시 생기는 파란 글씨 밑 밑줄 제거용*/
    color: #1b1a1a;
    font-weight: bold;
    font-size: 16px;
}

.banner-top-option a {
    color: #c92a18; 
}

.users-menu {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon-img {
    width: 40px; 
    height: 40px;
    margin: 0 0 0 4px;
}

.bulletin-board {
    background-color: #f8f8f8;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    display: flex;
    padding: 15px 0;
    justify-content: center;
}

.board-type {
    display: flex;
    border-right: 1px solid #e3e3e3;
    padding: 0 20px;
}

.board-type:last-child {
    border-right: none;
}

.board-type-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.board-type-list li {
    font-size: 13px;
    color: #444444;
}

.board-type-list .secret-board {
    color: #c62917;
    font-weight: bold;
}

.board-type-list .clickForMore {
    color: #c62917;
}

.main-container {
    display: flex; 
    justify-content: center;
    padding: 25px 100px;
    gap: 20px;
}


.board-contents {
    flex: 2;
    background-color: #ffffff;
    width: 780px;
}

.board-qandhot-wrap {
    padding: 15px;
    border: 1px solid #d6d6d6;
    margin-bottom: 5px;
}

.board-title {
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}

.board-title-whole {
    padding: 15px;
    border: 1px solid #d6d6d6;
    margin-bottom: 5px;
}

.board-questions-whole {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.question-icon {
    width: 20px; 
    height: 20px;
    margin-right: 10px;
}

.questions-hot-whole {
    display: flex;
    gap: 5px;
}

.questions-hot-each {
    background-color: #eafffb;
    color: #666;
    font-size: 13px;
    text-decoration: none;
    padding: 12px;
    border-radius: 12px;
}

.board-hot-whole {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.hot-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.hots-each {
    display: flex;
    align-items: center;
    background-color: #fbebee;
    color: #c62917;
    font-size: 13px;
    text-decoration: none;
    padding: 12px;
    border-radius: 15px;
}

.like-icon {
    width: 13px;
    height: 13px;
    margin-left: 8px;
    margin-right: 3px; 
}

.likes-count {
    font-weight: bold;
}

.post-new-article {
    border: 1px solid #e3e3e3;
    background-color: #f8f8f8;
    padding: 15px 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new-article-input {
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: 14px;
    outline: none;
    color: #a6a6a6;
}

.write-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.article-list-box {
    border: 1px solid #e3e3e3;
}

.article-link {
    text-decoration: none;
    color: #222222;
    display: block;
}

.post-each {
    padding: 15px 20px;
    border-bottom: 1px solid #e3e3e3;
}

.article-link:last-child .post-each {
    border-bottom: none;
}

.post-content {
    margin: 0 0 10px 0;
    font-size: 13px;
    color: #444444;
}

.post-info {
    margin: 0;
    font-size: 12px;
    color: #a6a6a6;
}

.post-meta-whole {
    display: flex;
    align-items: center;
}

.comment-img {
    width: 12px;
    height: 12px;
    margin-right: 4px;
}

.right-sidebar {
    flex: 1;
}

.sidebar-box {
    border: 1px solid #e3e3e3;
    background-color: #f8f8f8;
    margin-bottom: 10px;
}

.sidebar-title-box {
    border-bottom: 1px solid #e3e3e3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar-title {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #056AB5;
    padding: 10px;
}

.sidebar-link {
    text-decoration: none;
    color: #222222;
    display: block;
}

.sidebar-hot-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e3e3e3;
    justify-content: space-between;
}
.sidebar-item {
    padding: 10px;
    border-bottom: 1px solid #e3e3e3;
}

.more {
    color: #a6a6a6;
    font-size: 12px;
    margin-right: 10px;
}

.item-hot {
    height: 17px;
    color: #444444;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.time {
    margin: 0 0 0 10px;
    height: 17px;
    line-height: 18px;
    color: #a6a6a6;
    font-size: 11px;
}

.sidebar-link:last-child .sidebar-item {
    border-bottom: none;
}

.item-title {
    margin: 0 0 5px 0;
    font-size: 14px;
    font-weight: bold;
}

.item-content {
    margin: 0 0 5px 0;
    font-size: 12px;
    color: #737373;
}

.item-meta-wrap {
    display: flex;
    align-items: center;
}

.board-name {
    font-size: 12px;
    font-weight: bold;
    color: #a6a6a6;
    margin-right: 10px;
}

.vote-icon, .comment-icon {
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.vote-count {
    font-size: 12px;
    color: #c62917;
    margin-right: 8px;
}

.comment-count {
    font-size: 12px;
    color: #05BCBC;
}





.article {
    padding:15px;
}

.post {
    display: block;
    padding: 15px;
    border: 1px solid #e3e3e3;
}

.post-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    align-items: flex-start; /* center 대신 flex-start 으로 위쪽 정렬*/
}

.profile-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.anonymous-image {
    margin: 0 10px 15px 0;
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

.anonymous-info {
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
    margin: 0 0 15px 0;
}

.anonymous-name {
    font-size: 14px;
    font-weight: bold;
    margin: 0;

}

.post-time {
    font-size: 12px;
    color: #a6a6a6;
}

.message-report {
    display: flex;
    font-size: 12px;
    color: #666;
}

.send-message, .report {
    margin: 0 0 0 8px;
    padding: 0 2px;
}

.post-title {
    margin: 0 0 15px;
    color: #292929;
    font-size: 22px;
    font-weight: bold;
}

.post-content {
    margin: 0 0 15px 0;
    font-size:14px;
    color: #444444;
}

.status {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.comment-count2, .scrap-count2 {
    display: flex;
    align-items: center;
    padding: 0 2px 0 15px;
    margin-left: 0;
    margin-right: 8px;
}

.vote-count2 {
    display: flex;
    align-items: center;
    padding: 0 2px 0 0;
    margin-left: 0;
    margin-right: 8px;
    color: #F91F15;
}

.vote-icon2, .comment-icon2, .scrap-icon2 {
    width: 12px; /* w/h를 실제 크기인 20px로 하면 너무 커보이는 문제 발생 */
    height: 12px;
    margin-right: 4px;
}

.comment-count2 {
    color: #05BCBC;
}

.scrap-count2 {
    color: #ffc900
}


.like-scrap {
    display: flex;
    padding-top: 16px;
    align-items: center;
}

.like, .scrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
    padding: 0 12px 0 12px;
    border-radius: 8px;
    color: #737373;
    font-size: 12px;
    font-weight: bold;
    background-color: #f9f9f9;
    width: 58px;
    height: 30px;
    gap: 4px;
    cursor: pointer;
}

.like-icon, .scrap-icon {
    width: 11px;
    height: 11px;
}


.comments {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    border: 1px solid #e3e3e3;
}

.comment-input {
    margin:0 0 0 0;
    padding: 0 85px 0 10px;
    border: 0;
    width: 100%;
    height: 40px;
    background-color: transparent;
    color: #262626;
    font-size: 13px;
    outline: none;
}

.anonym-submit {
    display: flex;
    align-items: center;
    gap: 5px;
}

.anonym {
    width: 40px;
    height: 40px;
}

.submit-btn {
    background-color: #F91F15;
    width: 40px;
    height: 40px;
}

.pagination {
    display: inline-flex;
    align-items: center;
    border: 1px solid #F91F15;
    border-radius: 3px;
    padding: 8px 12px;
    margin: 5px 0 0 5px;
    padding: 0 10px 0 10px;
    height: 35px;
    background-size: 10px 10px;
    gap: 4px;
}

.pagination-icon {
    width: 14px;
    height: 14px;
}

.post-list {
    margin: 0;
    font-size: 13px;
    font-weight: bold;
    color: #F91F15;
}




.hamburger-icon {
    display: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 10px;
}

@media (max-width: 640px) {
    header {
        padding: 15px 20px; 
    }
    
    .banner-top {
        display: none; 
    }

    .hamburger-icon {
        display: block;
    }

    .bulletin-board {
        display: none; /* 처음에 숨겨둠 */
        flex-direction: column; /* 세로로 나열 */
        position: absolute;
        top: 70px; /* 헤더 높이 아래로 */
        left: 0;
        width: 100%;
        background-color: white;
        z-index: 1000;
        border-bottom: 2px solid #e3e3e3;
    }

    .bulletin-board.active {
        display: flex;
    }

    .board-type {
        border-right: none;
        border-bottom: 1px solid #e3e3e3;
        padding: 15px 20px;
    }
    
    .board-type:last-child {
        border-bottom: none;
    }

    .right-sidebar {
        display: none;
    }

    .main-container {
        padding: 15px 20px;
    }

    .board-contents {
        width: 100%;
    }
    
    .new-article-input {
        width: 90%;
    }
}

.hamburger-icon {
    display: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 10px;
}

@media (max-width: 640px) {
    header {
        padding: 15px 20px; 
    }

    .banner-top {
        display: none; 
    }

    .hamburger-icon {
        display: block;
    }

    .bulletin-board {
        display: none;
        flex-direction: column;
        padding: 0;
    }

    .bulletin-board.active {
        display: flex;
    }

    .board-type {
        border-right: none;
        border-bottom: 1px solid #e3e3e3;
        padding: 15px 20px;
    }

    .right-sidebar {
        display: none;
    }

    .main-container {
        padding: 15px 20px;
    }

    .board-contents {
        width: 100%;
    }
}